<h1>芽兎めう語ジェネレーター</h1>

<%= form_tag("/meugene") do %>  <%#:url => {:action => '/meugene/index'} do |f| %>

<p>
<%#= f.label :input_text, "input" %>
<%#= f.text_field :input_text %>
<%#= f.submit %>
<%= label_tag(:input_text) %>
<%= text_field_tag(:input_text) %>
<%= submit_tag("convert") %>
</p>

<% end %>

