<h1>芽兎めう語ジェネレーター</h1>

<%= form_tag meugenes_path do %>
  <%= text_field_tag 'text[input_text]', @input_text %>
  <%= submit_tag('convert') %>
<% end %>

<% unless @meu_text.blank? %>
  <h3>変換後芽兎</h3>
  <p><%= @meu_text %></p>
<% end %>
